<div class="container" style="margin-top: 20px;">
	<div class="jumbotron text-center">
        <h1>Welcome to the MiData app</h1>
        <hr>

        <div class="row">
			<div class="well col-md-4">
				<p>1. Select your current provider</p>
				<select class="form-control" data-ng-options="o.bankname for o in home.options" data-ng-model="home.selectedOption">
						<option value="">Choose provider</option>
				</select>
			</div>
			<div class="well col-md-4">
				<p>2. Upload your midata.csv file</p>
				<input class="form-control" type="file" id="fileUpload">
			</div>
			<div class="well col-md-4">
				<p>3. Click the button to start</p>
				<button type="button" class="btn btn-primary btn-block" ng-hide="home.loading || home.done" ng-click="home.csvReader()">Go!</button>
				<button type="button" class="btn btn-primary btn-block" ng-show="home.loading">
					Loading...<i class="fa fa-spinner fa-spin"></i>
				</button>
				<a href="/results" class="btn btn-success btn-block fade" ng-show="home.done">View results</a>
			</div>
		</div>	
	</div>
</div>